{% extends 'UP1ThesisBundle::base.html.twig' %}

{% block body -%}
    <h3 align="center">{{ message }}</h3>

            <a href="{{ path('nav_center') }}">
                back 
            </a>
{% endblock %}
